<div class="scrollspy-example disable-scrollbars scrollspy-container">
  <section mdbScrollspyElement="scrollspy" id="sectionAboutPage">
    <app-about-page></app-about-page>
  </section>
  <hr class="hr hr-blurry" />
  <section mdbScrollspyElement="scrollspy" id="sectionExperiencePage">
    <app-experience-page></app-experience-page>
  </section>
  <hr class="hr hr-blurry" />
  <section mdbScrollspyElement="scrollspy" id="sectionProjectsPage">
    <app-projects-page></app-projects-page>
  </section>
</div>
